<% set_default("title", "a new borad approaches") %>
<% set_default("boards", []) %>
<% set_default("slogan", "something something something") %>
<% set_default("render_recent_chats", function() { }) %>

<% add_stylesheet("home.css") %>
<div class="container" style="margin: auto; margin-top: 10px; position: relative">

  <%= render_partial("home/header.html.erb", { slogan: slogan }) %>
  <div id="anons" class="rfloat">
    <%= render_anons() %>
  </div>


  <div id="fullpage">

    <div class="section clearfix">
      <div class="col-md-6">
        <h2>a practical guide</h2>

        <div>
          <p>
            <b>a to b</b> is a real time <b>textboard</b>. a textboard is like a
            forum, but there's no registration and post authors are anonymous.
            sound interesting? join a board and speak whats on your mind.

            reading between the letters is encouraged.

            so is reading the <a href="#" class="ruleslink">rules</a> and <a href="/b/faq">faq</a>.
          </p>

          <p>
            if you spot some bugs, <a href="/b/bugs">plz to be reporting them</a>
          </p>
        </div>

        <h3><a href="/b/a">get started!</a></h3>


        <hr />
        
        <%= render_partial("shared/chat.html.erb", { render_recent_chats: render_recent_chats }) %>
      </div>

      <div class="col-md-6">
        <h3>boards <small><a href="/boards">(seymour)</a></small></h3>
        <div class="clearfix">
          <div class='lfloat'>
            <%= render_boards() %>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="front recent hidden threads">
          <h3>recent threads
            <small><a class="icon-toast" href="#" data-toggle="collapse" data-target=".new_post"></a></small>
            <small><a href="/recent">(moariarty)</a></small>
          </h3>
          <div class="clearfix col-md-12">
            <%= render_partial("shared/new_post.html.erb") %>
          </div>



          <%= render_recent_threads() %>
        </div>


        <div class="front recent hidden posts">
          <h3>recent replies </h3>
          <%= render_recent_posts() %>
        </div>

        <div class="sponsored">
          <%= render_sponsored_content() %>
        </div>

      </div>

    </div> <!-- section -->


    <div class="clearfix section hidden">
      <%= render_even_more_recent() %>
    </div>

    <div class="clearfix section hidden">
      <%= render_about() %>
    </div>

    <div class="clearfix section hidden">
      <%= render_burtles() %>
    </div>
  </div>
</div>

