<% set_default("title", "a to b to ") %>
<% set_default("posts", [] ) %>
<% set_default("tripcode", "") %>
<% set_default("board_slogan", "") %>

<% add_stylesheet("board.css") %>
<div class="container mbl mtl clearfix">

  <div class="col-md-12 clearfix">
    <%= render_partial("shared/logo_and_links.html.erb", { render_boards: render_boards, tripcode: tripcode }) %>

    <div class="clearfix">
      <h1>
        <small class='boardheader'><span class='toggle_favorite icon-star-empty' /></small>
        <span class='boardheader'> /<%= board %> </span>
        <% if (board_slogan) { %>
            <small class='board_slogan boardheader'><%= board_slogan %></small>
        <% } %>
        <a class="rfloat newthread" href="#" data-toggle="collapse" data-target=".new_post">new thread</a>

    
      </h1>
      <div class="rfloat boardview boardheader">
        <a class="icon-squarestop boardfull" href="#"> </a>
        <a class="mll icon-list boardlist" href="#"> </a>
        <a class="mll icon-th boardtiles" href="#"> </a>
      </div>

    </div>

    <div class="col-md-12"> </div>

  </div>


  <div class="col-md-12">   
    <%= render_partial("shared/new_post.html.erb") %>

  </div>

  <div class="col-md-12 mtl posts" style="min-height: 600px;">
    <%= render_posts() %>
    <div class="loading clearfix row fade-in">
      <h4 class='mtl'>Loading </h4>
      <div class="mtl"><%= render_partial("shared/loading.html.erb") %></div>
    </div>

    <div>
      <%= render_sponsored_content() %>
      <div class="rfloat">
        <a href="/r/<%= board %>" class="icon-rss"> </a>
      </div>
    </div>
  </div>
</div>
