<div class="profile_container container" style="margin-left: 10px; margin-top: 10px; margin: auto;">
  <div class="col-md-12 clearfix">
    <%= render_partial("shared/logo_and_links.html.erb", { tripcode: tripcode, hide_settings: true }) %>

    <div class="clearfix cover">
      <div class="cover_photo desaturate">
        <div class="profile_code" data-tripcode="<%= tripcode %>"> </div>

      </div>

      <div class="profile_photo spin">
        <div style="height: 100%" class="profile_code" data-tripcode="<%= tripcode %>"> </div>
      </div>

      <div class="profile_photo profile_photo_right spin">
        <div style="height: 100%" class="profile_code" data-tripcode="<%= tripcode %>"> </div>
      </div>

    </div>

    <div class="clearfix" style="text-align: center">
      <%= render_about() %>
    </div>

    <div class="clearfix trip_container" style="text-align: center; margin-bottom: 20px" >
      <%= render_ships() %>

      <%= render_burtles() %>
    </div>


    <div class="clearfix">
      <div class="cover_photo cover_photo_bottom" style="margin-top: -90px">
        <div class="profile_code" data-tripcode="<%= tripcode %>"> </div>

      </div>
    </div>


  
</div>
