<% set_default("render_sponsored_content", function() { }) %>

<% set_default("tripcode", "") %>

<div class="container mbl mtl clearfix">
  <div class="col-md-12 clearfix">
    <%= render_partial("shared/logo_and_links.html.erb", { render_boards: render_boards, tripcode: tripcode }) %>

  </div>

  <div class="col-md-12">
    <div class="clearfix">
      <%= render_sponsored_content() %>

      <h1 class="clearfix" style="">
        <div style="text-align: right">
          <a class="newthread " href="#" data-toggle="collapse" data-target=".new_post">new thread</a>
        </div>
      </h1>

    </div>
    <div class="loading clearfix row fade-in">
      <h4 class='mtl'>Loading </h4>
      <div class="mtl"><%= render_partial("shared/loading.html.erb") %></div>
    </div>

    <div class="col-md-12 clearfix">   
      <%= render_partial("shared/new_post.html.erb") %>
    </div>


    <div class="clearfix">
      <%= render_post() %>
    </div>
  </div>

</div>
