<% set_default("title", "Title") %>
<% set_default("text", "post text") %>
<% set_default("post_id", 0) %>
<% set_default("created_at", new Date()) %>
<% set_default("replies", []) %>
<% set_default("tripcode", "") %>
<% set_default("author", "anon") %>

<hr />

<div class="post" data-post-id="<%= post_id %>"> 
  <div class="title clearfix">
    <a href="#" data-toggle="collapse" data-target="#post<%= post_id %>">
      <h4><b><%- title %></b> </h4>
    </a>

    <div class="mbl">
      <div class="tripcode" title="<%- author || "anon" %>" data-tripcode="<%= tripcode %>"> </div>

      <div class="created" style="margin-top: -10px; display: inline-block">
        <small><%= created_at %></small>
      </div>

      <div class="post_id" style="margin-top: -10px; display: inline-block">
        <a href="#"><small>#<%= post_id %></small></a>
      </div>
    </div>

  </div>

  <% if (text.trim()) { %>
    <div class="text col-md-12">
      <%- text %>
    </div>
  <% } %>

  <div id="post<%= post_id %>" class="collapse">

    <div class="replies clearfix mtl col-md-12">
      <% _.each(replies, function(r) { %>
        <div class="ptl pbl">
          <div class="tripcode" title="<%- r.author %>" data-tripcode="<%= r.tripcode %>"></div>
          <a href="#"><div class="no" style="display: inline-block">#<%= r.id %> </div></a>
          <b><%- r.title %></b>
          <small><%- r.text %></small>
        </div>

      <% }); %>
    </div>

    <form class="reply">
      <div class="clearfix">
        <input type="text" class="form-control" placeholder="reply"> </input>
      </div>
    </form>

  </div>
</div>
