<% set_default("title", "Title") %>
<% set_default("text", "post text") %>
<% set_default("created_at", new Date()) %>
<% set_default("replies", []) %>
<% set_default("tripcode", "anon") %>

<div class="post"> 
  <div class="title clearfix">
    <h4><b><%= title %></b>
    <br />
    <small class="rfloat">
      <% if (replies.length) { %>
        (<%= replies.length %>)
      <% } %>
    </small>
    </h4>

    <div class="created" style="margin-top: -10px">
      <small><%= created_at %></small>
    </div>

  </div>

  <span class="tripcode" data-tripcode="<%= tripcode %>"></span>

  <div class="text col-md-12">
    <%= text %>
  </div>

  <div class="replies clearfix mtl">
    <% _.each(replies, function(r) { %>
      <div class="pal">
        <span class="tripcode" data-tripcode="<%= r.tripcode || "anon" %>"></span>
        <b><%= r.title %></b>
        <small><%= r.text %></small>
      </div>

    <% }); %>
  </div>

  <div class="clearfix">
    <input type="text" class="form-control" placeholder="reply"> </input>
  </div>

</div>
