<% set_default("title", "Title") %>
<% set_default("text", "post text") %>
<% set_default("post_id", 0) %>
<% set_default("created_at", new Date()) %>
<% set_default("replies", []) %>
<% set_default("tripcode", "") %>
<% set_default("author", "anon") %>

<hr />

<div class="post" data-post-id="<%= post_id %>" style="display: none">
  <div class="title clearfix">
    <a href="#" data-toggle="collapse" data-target="#post<%= post_id %>">
      <h4><b><%- title %></b> </h4>
    </a>

    <div class="mbm">
      <div class="tripcode" title="<%- author || "anon" %>" data-tripcode="<%= tripcode %>"> </div>

      <div class="post_id" style="margin-top: -10px; display: inline-block">
        <a href="#" title="<%= created_at %>"><small>#<%= post_id %></small></a>
      </div>

      <div class="created" style="margin-top: -10px; display: inline-block">
        <small>posted 
          <span class="timeago" title="<%= created_at.toISOString() %>"> </span>
        </small>
      </div>

      <small class="last_reply">
        - last reply was
        <% if (replies.length) { %>
          <% var last_reply_date = new Date(replies[replies.length - 1].created_at) %>
          <% var offset = last_reply_date.getTimezoneOffset() %>
          <% var adjusted_date = new Date((last_reply_date.getTime()) - (offset * 60 * 1000)); %>
            <span
              class="timeago"
              title="<%= adjusted_date.toISOString() %>" />
        <% } else { %>
            <span
              class="timeago"
              title="">never. be first! </span>
        <% } %>
      </small>

      <div class="counts" style="margin-top: -10px; display: inline-block; font-weight: bold"> </div>
    </div>

  </div>

  <div class="op text col-md-12 mbl" style=>
    <%- text %>
  </div>

  <div id="post<%= post_id %>" class="collapse cpost mbl">

    <div class="replies clearfix mtl col-md-12 <%= replies.length > 4 ? "many" : "" %>">
      <% _.each(replies, function(r) { %>
        <div class="ptl pbl">
          <div class="tripcode" title="<%- r.author %>" data-tripcode="<%= r.tripcode %>"></div>
          <a href="#" title="<%= new Date(r.created_at).toLocaleString() %>"><small>#<%= r.id %></small></a>
          <b><%- r.title %></b>
          <small class="text"><%- r.text %></small>
        </div>

      <% }); %>
    </div>

  </div>

  <a href="#" class="mtl see_replies" data-toggle="collapse" data-target="#post<%= post_id %>">
      [
      <span class="reply_count"><%= replies.length %></span> replies, click to expand
      ]

  </a>

  <div class="mtl clearfix">
    <form class="reply">
      <div class="clearfix mbl">
        <input type="text" class="form-control" placeholder="reply"> </input>
      </div>
    </form>
  </div>



</div>
