<% set_default("title", "Title") %>
<% set_default("text", "post text") %>
<% set_default("collapsed", true) %>
<% set_default("maximized", false) %>
<% set_default("post_id", 0) %>
<% set_default("created_at", new Date()) %>
<% set_default("replies", []) %>
<% set_default("tripcode", "") %>
<% set_default("author", "anon") %>
<% set_default("highlight_id", null) %>
<% set_default("archived", false) %>

<div class="post <%= maximized ? "maximize" : "" %>" data-post-id="<%= post_id %>" style="display: none">
  <div class="title clearfix">
    <a href="/p/<%= post_id %>" data-parent-id="<%= post_id %>">
      <h4><b class="text"><%- title %></b> </h4>
    </a>

    <a href="#" class="deletereply rfloat op"
      data-parent-id="<%= post_id %>"
      title="delete / report post">
      <i class='icon-remove'> </i>
    </a>


    <div class="mbm">
      <div class="tripcode lfloat mtm" title="<%- "anon" %>" data-tripcode="<%= tripcode %>"> </div>

      <div class="post_id lfloat mrl">
        <a
          href="#" class="addreply"
          title="<%= created_at %>"
          data-parent-id="<%= post_id %>"><small>#<%= post_id %></small>
        </a>
      </div>


      <div class="created" style="margin-top: -10px; display: inline-block">
        <small>posted
          <span class="timeago" title="<%= new Date(created_at).toISOString() %>"> </span>
        </small>
      </div>

      <small class="<%= replies.length > 6 ? "many" : "" %>">
        <a title="maximize" class="mll rfloat restore icon-restore"></a>
      </small>
      <small class="last_reply rfloat">
        last reply was
        <% if (replies.length) { %>
          <% var last_reply_date = new Date(bumped_at) %>
            <span
              class="timeago"
              title="<%= last_reply_date.toISOString() %>" />
        <% } else { %>
            <span
              class="timeago"
              title="">never. be first! </span>
        <% } %>
      </small>

    </div>

  </div>

  <div class="op text col-md-12 mbl clearfix" style=>
    <%- text %>
  </div>

  <div id="post<%= post_id %>" class="cpost">

    <div class="replies clearfix mtm mbm col-md-12 <%= replies.length > 6 ? "many" : "" %>">
      <% _.each(replies, function(r) { %>
        <% highlighted = highlight_id == r.id %>
        <div class="pam reply <%= highlighted ? "highlight" : "" %>" id="reply<%= r.id %>">
          <div class="tripcode" title="<%- 'anon' %>" data-tripcode="<%= r.tripcode %>"></div>
          <a href="#" class="deletereply"
            data-parent-id="<%= r.id %>"
            title="delete / report post">
            <i class='icon-remove'> </i>
          </a>
          <a href="/p/<%=r.id%>" class="addreply"
            data-parent-id="<%= r.id %>"
            title="<%= new Date(r.created_at).toLocaleString() %>">

            <small><%= r.id %></small>
          </a>
          <b class="text"><%- r.title %></b>
          <small class="text"><%- r.text %></small>
        </div>

      <% }); %>
    </div>

  </div>

  <div class="clearfix <%= replies.length > 6 ? "many" : "" %>">
    <a title="maximize" class="mtl mll rfloat restore link">
      <%= maximized ? "[collapse]" : "[expand]" %>
    </a>

    <div href="#" class="mtl see_replies lfloat">
        <span class="icon-chat mtl"> </span>
        <span class="reply_count count"><%= replies.length || 0 %></span> 

    </div>

    <div href="#" class="mtl ups lfloat <%= ups ? "" : "hidden" %>" style="margin-left: 20px">
        <span class="icon-minigrin mtl"></span>
        <span class="ups_count count"><%= ups %> </span>
    </div>

    <div href="#" class="mtl downs lfloat <%= downs ? "" : "hidden" %>" style="margin-left: 20px">
        <span class="icon-miniangry mtl"></span>
        <span class="downs_count count"><%= downs %> </span>
    </div>

    <div class="counts rfloat mtl" style="display: inline-block; font-weight: bold"> </div>


  </div>

  <div class="mtl clearfix">
    <% if (!archived) { %>
      <form class="reply">
        <div class="mtl clearfix mbl" style="position: relative">
          <a style="position: absolute; right: -5px; top: 5px; z-index: 10" 
               class="glyphs icon-emojigrin rfloat mrl"> </a>
          <textarea type="text" class="form-control" placeholder="reply"></textarea>
        </div>
      </form>
    <% } %>
  </div>



</div>
